.carlisting {
    background-color: lightgrey;
}
.enqtbl {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
.contact {
    background-color: lightyellow;
}
h3{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    font-family:Arial, Helvetica, sans-serif;
    border-color: gray;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}