.carlisting {
    background-color: ;
}
.enqtbl {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
.contact {
    background-color: ;
}
h3{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: gray;
}